<div class="container" id="articles-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="app.ourproducts">Our Products</a></li>
    <li class="breadcrumb-item active">Related Articles</li>
  </ol>
  <div class="page-title">
    <h1 class="text-center">
      Related Articles
    </h1>
  </div>
  <div ng-controller="PageCtrl">

    <div class="row row-content">
      <h1 class="collapsed" role="button" data-toggle="collapse" href="#entFiles" ng-click="expandent=!expandent">
        <i class="fa" ng-class="{'fa-plus-square':!expandent,'fa-minus-square-o':expandent}"></i>
        ENT Related Articles
        <hr>
      </h1>
      <div class="text-center collapse" id="entFiles">
        <div ng-repeat="file in entfiles">
          <div class="col-xs-12 col-sm-6 file">
            <div class="media">
              <div class="media-left media-top">
                <a ng-href="{{file.path}}" download>
                  <i class="fa fa-download fa-3x"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{file.title | limitTo:100 | uppercase}}...
                </h4>
                <hr>
                <p><strong>Authors:</strong> {{file.authors | limitTo:50}}...</p>
                <p><strong>Date:</strong> {{file.date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <h1 class="collapsed" role="button" data-toggle="collapse" href="#plddFiles" ng-click="expandpldd=!expandpldd">
        <i class="fa" ng-class="{'fa-plus-square':!expandpldd,'fa-minus-square-o':expandpldd}"></i>
        PLDD Related Articles
        <hr>
      </h1>
      <div class="text-center collapse" id="plddFiles">
        <div ng-repeat="file in plddfiles">
          <div class="col-xs-12 col-sm-6 file">
            <div class="media">
              <div class="media-left media-top">
                <a ng-href="{{file.path}}" download>
                  <i class="fa fa-download fa-3x"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{file.title | limitTo:100 | uppercase}}...
                </h4>
                <hr>
                <p><strong>Authors:</strong> {{file.authors | limitTo:50}}...</p>
                <p><strong>Date:</strong> {{file.date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <h1 class="collapsed" role="button" data-toggle="collapse" href="#proctoFiles" ng-click="expandprocto=!expandprocto">
        <i class="fa" ng-class="{'fa-plus-square':!expandprocto,'fa-minus-square-o':expandprocto}"></i>
        Proctology Related Articles
        <hr>
      </h1>
      <div class="text-center collapse" id="proctoFiles">
        <div ng-repeat="file in proctofiles">
          <div class="col-xs-12 col-sm-6 file">
            <div class="media">
              <div class="media-left media-top">
                <a ng-href="{{file.path}}" download>
                  <i class="fa fa-download fa-3x"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{file.title | limitTo:100 | uppercase}}...
                </h4>
                <hr>
                <p><strong>Authors:</strong> {{file.authors | limitTo:50}}...</p>
                <p><strong>Date:</strong> {{file.date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <h1 class="collapsed" role="button" data-toggle="collapse" href="#regulationFiles" ng-click="expandreg=!expandreg">
        <i class="fa" ng-class="{'fa-plus-square':expandreg,'fa-minus-square-o':!expandreg}"></i>
        Regulations
        <hr>
      </h1>
      <div class="text-center collapse in" id="regulationFiles">
        <div ng-repeat="file in regulations">
          <div class="col-xs-12 col-sm-6 file">
            <div class="media">
              <div class="media-left media-top">
                <a ng-href="{{file.path}}" download>
                  <i class="fa fa-download fa-3x"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{file.title | limitTo:70 | uppercase}}
                </h4>
                <hr>
                <p><strong>Authors:</strong> {{file.authors | limitTo:70}}</p>
                <p><strong>Date:</strong> {{file.date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
