<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item active">Contact Us</li>
  </ol>
  <div class="row row-content" style="margin-top:64px;">
    <div class="col-xs-12 col-sm-7">
      <form id="form-contato" action="https://formspree.io/medlaser@medlaser.srv.br" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="firstName" class="col-xs-12 col-sm-2 control-label">
            First Name*
          </label>
          <div class="col-xs-12 col-sm-3">
            <input type="text" id="firstName" name="First Name" placeholder="Your First Name" class="form-control" required="">
          </div>
          <label for="lastName" class="col-xs-12 col-sm-2 control-label">
            Last Name*
          </label>
          <div class="col-xs-12 col-sm-3">
            <input type="text" id="lastName" name="Last Name" placeholder="Your Last Name" class="form-control" required="">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-xs-12 col-sm-2 control-label">
            E-mail*
          </label>
          <div class="col-xs-12 col-sm-4">
            <input type="email" id="email" name="_replyto" placeholder="username@email.com" class="form-control" required="">
          </div>
          <label for="tel" class="col-xs-12 col-sm-1 control-label">
            Tel.
          </label>
          <div class="col-xs-12 col-sm-3">
            <input type="tel" id="tel" name="Phone #" placeholder="(555) 555-5555" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="subject" class="col-xs-12 col-sm-2 control-label">
            Subject
          </label>
          <div class="col-xs-12 col-sm-8">
            <input id="assunto" type="text" name="Subject" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-xs-12 col-sm-2 control-label">
            Message
          </label>
          <div class="col-xs-12 col-sm-8">
            <textarea name="Message" class="form-control" required="" rows="6"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-2 col-sm-offset-8">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
        <input type="hidden" name="_next" value="http://medlaser.us/#/submition-successful"/>
        <input type="hidden" name="_subject" value="[New Submission] Medlaser.us"/>
        <input type="hidden" name="_format" value="plain" />
        <input type="text" name="_gotcha" style="display:none" />
      </form>
    </div>
    <div class="col-xs-12 col-sm-5">
      <p>
        <i class="fa fa-phone"></i>
        <strong>Phone: </strong>
        +1 866-428-2030
      </p>
      <hr>
      <p>
        <i class="fa fa-envelope"></i>
        <strong>E-mail: </strong>
        medlaser@medlaser.srv.br
      </p>
      <hr>
      <div class="iframe-container">
        <iframe frameborder="0" style="border:0; height:200px; width:300px;"  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtB8mzO6kSx8fJtG6HzBOi3hpl6hhcwlU&q=8751+Commodity+Cir+%235,+Orlando,+FL+32819,+USA/@28.4445067,-81.4311637" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
