<div id="ent-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
      <li class="breadcrumb-item"><a ui-sref="app.ourproducts">Our Products</a></li>
      <li class="breadcrumb-item active">ENT &ndash; Otolaryngology</li>
    </ol>
    <div class="page-title">
      <h1 class="text-center">
        Otolaryngology &ndash; Ears, Nose &amp; Throat
      </h1>
    </div>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-8">
        <h1 class="text-center"></h1>
        <p class="text-justify"><a ui-sref="app.ourproducts"><strong>The neoV laser system</strong></a> enables a wide array of surgical interventions with precision and safety. Choose either a 980nm or 1470nm system depending on the type of applications you seek. The system can be easily used in the OR or in a clinic setting, and enables a range of power levels, from delicate work near critical structures, to rapid removal of tissue.</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <br>
            <table class="table table-striped table-responsive table-hover table-bordered">
              <thead><tr><th>Potential Applications</th></tr></thead>
              <tbody>
                <tr><td>Middle ear surgery, stapedotomy</td></tr>
                <tr><td>Laryngeal cancer and cordectomy</td></tr>
                <tr><td>Orapharyngeal lesions, tumor vaporization</td></tr>
                <tr><td>Tonsillectomy</td></tr>
                <tr><td>Glossectomy</td></tr>
                <tr><td>Nasal septum, polyps, cysts, mucoceles</td></tr>
                <tr><td>Subglottic stenosis and lesions</td></tr>
                <tr><td>Tracheal stenosis and lesions</td></tr>
                <tr><td>Laser assisted Uvulopalatoplasty</td></tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h1 class="text-center">Otology</h1>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <img src="images/ent.png" class="img-responsive"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <img src="images/fiber.png" class="img-responsive"/>
              </div>
            </div>
            <div class="row">
              <p class="text-justify">The neoV laser offers a delicate and high precision modality for inner ear treatments. By use of a special design small core fiber disposable kit, fine ablation and tissue removal can be achieved. The use of a hand-held fiber delivery system with a clearly visible aiming beam ensures safe application and high precision control of energy application.</p>
              <p class="text-justify">Neolaser offers a flexible reusable hand piece system consisting of a rigid ergonomic handpiece and various termination cannulas, or a fully disposable sterile handpiece with an integrated high precision fiber.</p>
            </div>
          </div>
        </div>
        <h1 class="text-center">Fiber Delivery &amp; Accessories</h1>
        <div class="row vcenter">
          <div class="col-xs-12 col-sm-3">
            <img src="images/cannula.png" class="img-responsive"/>
          </div>
          <div class="col-xs-12 col-sm-9">
            <p class="text-justify">Neolaser offers a wide and comprehensive set of surgical accessories for multiple specialties. Neolaser's modular surgical hand piece system allows you to pick and choose the size and shape of cannula matching the treated anatomy. Simply plug your cannula of choice on the ergonomic hand piece for easy access. Custom tubes can be designed upon request. Additional specialty hand pieces are also available, such as the laryngeal hand pieces and the suction hand piece.</p>
          </div>
        </div>
        <div class="row">
          <h1 class="text-center">Benefits</h1>
          <div class="row">
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Minimally Invasive</h3><p class="text-justify">The neoV platform enables a wide variety of minimally invasive treatments. The ability to deliver high power energy through a flexible small diameter fiber facilitates and expands many treatment options.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Multi Platform</h3><p class="text-justify">Given the flexibility of fiber delivery options, as well as available surgical hand pieces, the neoV laser can be used in conjunction with every surgical platform and approach. From hand held instruments under surgical microscope visualization, through endoscopic approaches, whether rigid or flexible, including laparoscopy, to robotic channels, all options are available for safe and effective energy delivery.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Various Wavelengths</h3><p class="text-justify">The neoV980 and neoV1470 offer two highly effective yet different tools for your ENT practice, driven by their different absorption in soft tissue. Accordingly, both systems cover wide options of tissue interaction, from strong and deep coagulation, to precision micro-surgical excisions.</p></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Flexible Tissue Interaction</h3><p class="text-justify">The energy, delivered through solid core fiber optics, enables work in both contact and non contact modes. Contact work provides tactile feedback and rapid cutting, while non contact mode enables vaporization and coagulation of large areas.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Multi Fiber Options</h3><p class="text-justify">The neoV lasers can be delivered through a wide selection of fibers, with cores ranging from 300 to 600 microns, and with multiple options of beam emission from the tip.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Office Procedures</h3><p class="text-justify">Given the small size, yet high power of the neoV platform, it is the perfect tool to allow shift of procedures from the OR to an office-based setting. You can depend that it will provide you with enough power to tackle challenging procedures in a safe and effective manner.</p></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-sm-offset-5">
            <img src="images/danger.png" class="img-responsive pull-right">
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="images/warning.png" class="img-responsive pull-right">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/ENT.png" class="img-responsive pull-right mNone">
        <div class="row" id="brochures">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <a ui-sref="app.articles">
              <i class="fa fa-info-circle fa-2x"></i>
              <p>Learn More</p>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="files/ENT-BROCHURE.pdf" download="ENT-Brochure">
              <i class="fa fa-download fa-2x"></i>
              <p>Download Brochure</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
