<div class="container" id="home-wrapper">
  <div class="row row-content" id="homeFirstRow">
    <div class="col-xs-12 col-sm-4">
      <div class="text-center">
        <i class="fa fa-trophy fa-3x"></i>
      </div>
      <p class="text-center">A LEADER COMPANY</p>
      <hr>
      <p class="text text-center">
        MEDLASER, with more than 10 years in the market, is increasingly becoming a reference in the distribution of medical products.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-center">
        <i class="fa fa-key fa-3x"></i>
      </div>
      <p class="text-center">EVENTS</p>
      <hr>
      <p class="text text-center">
        Our company promotes and supports Talks aimed at bringing the latest news about the next generation in the market.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-center">
        <i class="fa fa-flag fa-3x"></i>
      </div>
      <p class="text-center">WELL TRAINED PROFESSIONALS</p>
      <hr>
      <p class="text text-center">
        We have a team with the best professionals, ready to provide any support or training.
      </p>
    </div>
  </div>
  <div class="row row-content" id="laserHealthRow">
    <h2 class="text-center"><strong>LASER HEALTH</strong></h2>
    <hr>
    <p class="text-center">Laser equipment is increasingly being used in preventive and surgical methods of treating patients.</p>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-6">
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85% Spine Orthopedics (PLDD)</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">35% Proctology</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65% Gynecology</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70% Otorhinolaringology</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45% Vascular</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70% Radiofrequency</div>
      </div>
    </div>
  </div>
  <div class="row row-content" id="homePLDDRow">
    <h2 class="text-center"><strong>PERCUTANEOUS LASER DISCECTOMY or PLDD</strong></h2>
    <hr>
    <div class="col-xs-12 col-sm-6">
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MRVyD7c3ps8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p style="margin-top:12px;"><a href="https://www.youtube.com/watch?v=MRVyD7c3ps8" target="_blank"><i class="fa fa-youtube fa-3x"></a></i>
      </p>
      <p><strong>Uploaded on Sep 29, 2011</strong></p>
      <p><strong>Channel: </strong>Synergy Spine</p>
      <p><strong>Description: </strong>
        Animated illustration of percutaneous laser discectomy for small lumbar and cervical herniated discs and discogenic spinal pain. Usually preceeded by a diagnostic discogram and used instead of spinal fusion operations.</p>
    </div>
  </div>
</div>
