<div id="institutional-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
      <li class="breadcrumb-item active">Institutional</li>
    </ol>
    <img src="images/orlando-cityscape.jpg" class="img-responsive center-block">
    <div class="content-wrapper">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-2">
          <h1 align="middle">The Company</h1>
        </div>
        <div class="col-xs-12 col-sm-10">
          <p class="text-justify">
            Medlaser US was developed for providing high laser technology, meeting both the spinal and vascular segments. The name <strong>Medlaser</strong> was created from the joining of the words <em>laser</em> and <em>medicine</em>, which emphasize our work.
            Among other products distributed by Medlaser, we highlight the brand NEOLASER, a company which specializes in laser technology, known worldwide for its continuous pursue of evolving technologies and products.
            Medlaser has been investing in the deployment of new products and technologies.
            We have the <strong>NeoV machine</strong>, which is a powerful and versatile medical laser, utilizing a breakthrough cooling design, enabling significant power delivery, in the smallest footprint and lightest weight unit available on the market.
            THE NEOV – WORLD CLASS DESIGN, PERFORMANCE AND VALUE. 
          </p>
        </div>
      </div>
      <div class="row row-content">
        <div class="col-xs-12 col-sm-2 pull-right">
          <h1 align="middle">Our Mission</h1>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p class="text-justify">
            &quot;Be a reference in the distribution of LASER products for doctors and hospitals, through strategic partnerships with reputable health insurance providers, hospitals and physicians. Always providing health, better quality of life and results that exceed the expectations of our customers and partners.&quot;
          </p>
        </div>
      </div>
      <div class="row row-content">
        <div class="col-xs-12 col-sm-2">
          <h1 align="middle">Our Vision</h1>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>
            &quot;Become a highly competitive company with the most modern center of distribution and laser technology training in Florida.&quot;
          </p>
        </div>
      </div>
      <div class="row row-content">
        <div class="col-xs-12 col-sm-2 pull-right">
          <h1 align="middle">Our Values</h1>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p><strong>Team Play -</strong> We care for the collectivity, seeking the best results for the organization, customers and partners.</p>
          <p><strong>Trust -</strong> Our attitude is righteous, conveying confidence and positive image for our customers and partners.</p>
          <p><strong>Ethics -</strong> We act according to our moral principles, respecting our values and honoring our commitment with loyalty, reliability, professionalism and honesty.</p>
          <p><strong>Quality -</strong> We focus on product distribution and providing services that meet the needs of our customers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
