<div class="container" id="products-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item active">Our Products</li>
  </ol>
  <div class="page-title">
    <h1 class="text-center">
      Our Products
    </h1>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="media" id="opneoV">
        <ul class="media-list">
          <li>
            <div class="media-left media-middle">
              <a ui-sref="app.ourproducts">
              <img src="images/neoV@218px.png" class="media-object custom-media" height=175>
              </a>
            </div>
            <div class="media-body">
              <h2 clas="media-heading">The neoV by neoLaser</h2>
              <p class="text-justify">Good things come in small packages and the neoV platform is no exception. This small, portable, superbly designed unit delivers a powerful and safe laser beam for your PLDD application.</p>
              <p>The neoV 1470 and neoV 980 – World class design, performance and value.</p>
              <p><a ui-sref="app.PLDD">Laser Spine Surgery &raquo;</a></p>
              <p><a ui-sref="app.EVLA">Endovascular Applications &raquo;</a></p>
              <p><a ui-sref="app.ENT">Otolaryngology - ENT &raquo;</a></p>
              <p><a ui-sref="app.PROCTO">Proctology Surgery &raquo;</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
