<div id="pldd-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
      <li class="breadcrumb-item"><a ui-sref="app.ourproducts">Our Products</a></li>
      <li class="breadcrumb-item active">PLDD &ndash; Laser Spine Surgery</li>
    </ol>
    <div class="page-title">
      <h1 class="text-center">
        Percutaneous Laser Disc Decompression (PLDD)
      </h1>
    </div>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <h1 class="text-center">
            Procedure
          </h1>
          <p class="text-justify">
            PLDD is a minimally invasive procedure for treatment of herniated lumbar and cervical discs. It involves insertion of a micro-needle under X-Ray guidance into the disc nucleus. A fiber is then inserted through the needle and used to deliver laser energy to the nucleus. The delivered laser  energy  thermally  evaporates  excessive  fluid reducing internal pressure and relieving back pain. An innovative approach - using neoV1470 - is to treat the bulge itself rather than to vaporize the Nucleus Pulposus. The focused 1470nm wavelength results in a confined effect and an energy efficient procedure.</p>
        </div>
        <div class="row" style="background:#000;color:#eee;border-radius:8px; padding:20px;">
          <div class="col-xs-12 col-sm-4">
            <img src="images/neoV.png" class="img-responsive"/>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h2 style="margin-top:0;">
              The neoV platform with neoLaser’s PLDD set <small>is a perfect solution for your PLDD cases.</small>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h1 class="text-center">The neoV Laser</h1>
            <h2><i class="fa fa-chevron-right" style="color:#5cb85c;"></i> The World's Smallest 25 Watt Laser <small style="padding-left:5px; border-left:1px solid #aaa;"> Surgical Power Was Never So Small</small></h2>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img class="img-responsive" src="images/smallest-machine.png">
          </div>
        </div>
        <div class="row">
          <h1 class="text-center">
            Kit Advantages
          </h1>
          <p class="text-justify">
            The neoLaser PLDD kit includes everything you need for a safe, effective and minimally invasive PLDD or Denervation procedure. The sterile kit include a 400 micron bare fiber with jacket protection, 2 sizes of needles, 20G and 18G for your choice of entry, and a Y Connector allowing fiber entry and suction. The connector and needles are individually packed to enable maximum flexibility in treatment. Whatever your surgical needs, the neoV platform is your solution.
          </p>
        </div>
        <div class="row">
          <img src="images/neoV-specs.png" class="img-responsive" style="margin-top:10px;border-radius:16px;">
        </div>
        <div class="row">
          <h1 class="text-center">
            Procedure and Laser Advantages
          </h1>
          <p class="text-justify">
            The PLDD procedure offer a minimally invasive alternative for relieving back pain. The procedure kit enables microsurgery precision, tactile feedback from the fiber, quick recovery for the patient, and use of only local anesthesia. The laser special features include portability, ease-of-use, no maintenance or running costs, high reliability and stability.
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-sm-offset-5">
            <img src="images/danger.png" class="img-responsive pull-right">
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="images/warning.png" class="img-responsive pull-right">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/back-whole.png" class="img-responsive pull-right mNone">
        <div class="row" id="brochures">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <a ui-sref="app.articles">
              <i class="fa fa-info-circle fa-2x"></i>
              <p>Learn More</p>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="files/catalogo-PLDD1-original.pdf" download="PLDD-Brochure">
              <i class="fa fa-download fa-2x"></i>
              <p>Download Brochure</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
