<div id="ent-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
      <li class="breadcrumb-item"><a ui-sref="app.ourproducts">Our Products</a></li>
      <li class="breadcrumb-item active">Proctology Surgery</li>
    </ol>
    <div class="page-title">
      <h1 class="text-center">
        Proctology Surgery
      </h1>
    </div>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-8">
        <h1 class="text-center"></h1>
        <p class="text-justify">Proctology conditions such as hemorrhoids and fistula-in-ano are very prevalent in western societies. Some treatment options exist with their advantages and disadvantages. Neolaser introduces ALFA&trade; and ELITE&trade; for laser treatment of fistula-in-ano and grade 3-4 hemorrhoids, respectively. These microsurgical tools enable safe, sphincter saving and almost pain free procedure for patients and surgeons.</p>
        <h1 class="text-center">The ALFA&trade; Procedure</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-8"><p class="text-justify">During an ALFA&trade; procedure laser energy is delivered, via a radial emitting optical fiber, into the anal fistula tract and is used to thermally ablate and close off the abnormal pathway. The laser energy induces destruction of the fistula epithelium and simultaneous obliteration of the remaining fistula tract by a shrinkage effect. </p>
          <a href="files/CORONA-Procto.pdf" download="Corona-Fistula-Probe-Brochure">
            <p><i class="fa fa-download fa-2x"></i>&emsp;Download Brochure on the CORONA &ndash; Fistula Probe&trade;</p>
          </a>
          </div>
          <div class="col-xs-12 col-sm-4"><img src="images/fistula.png" class="img-responsive"/></div>
        </div>
        <h1 class="text-center">The ELITE&trade; Procedure</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-4"><img src="images/hemorrhoid.png" class="img-responsive"/></div>
          <div class="col-xs-12 col-sm-8">
            <p class="text-justify">In the ELITE&trade; procedure laser energy is delivered via a designated optical fiber into the hemorrhoidal pile and is used to thermally close off the veins nourishing the abnormal growth. The laser energy induces destruction of the venous epithelium and simultaneous obliteration of the hemorrhoidal pile by a shrinkage effect.</p>
            <a href="files/Corona-Hemorrhoid.pdf" download="Corona-Hemorrhoid-Probe-Brochure">
              <p><i class="fa fa-download fa-2x"></i>&emsp;Download Brochure on the CORONA &ndash; Hemorrhoid Probe&trade;</p>
            </a>
          </div>
        </div>
        <h1 class="text-center">The CORONA 360 600 Fused&reg; Fiber</h1>
        <div class="row vcenter">
          <div class="col-xs-12 col-sm-8">
            <p class="text-justify">The 360&deg; emitting medical probe serves for the endovenous laser treatment of the vena saphena magna and the vena saphena parva in patients with venous insufficiency. With its 360&deg; emission and optimal handling, the CORONA 360 600 Fused Fiber&reg; is a trendsetting development for medical applications in phlebology. The ink free marking eases positioning of the probe inside the vein. The fiber offers a welded (fused) fiber tip without any glue, greatly enhancing safety of the procedure. Additionally, the dedicated neoLaser-Introducer Set is perfectly complementing the CORONA 360 600 Fused Fiber&reg;.</p>
            <a href="files/CORONA-Phlebology.pdf" download="Corona-360-600-Fused-Fiber-Brochure"><p><i class="fa fa-download fa-2x"></i>&emsp;Download Brochure CORONA 360 600 Fused&reg; Fiber (Phlebology)</p></a>
          </div>
          <div class="col-xs-12 col-sm-4"><img src="images/phlebology.png" class="img-responsive"/></div>
        </div>
        <div class="row">
          <h1 class="text-center">Benefits</h1>
          <div class="row">
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">New Treatment Options</h3><p class="text-justify">The ability to deliver high power energy through a flexible small diameter fiber facilitates and expands many treatment options; Major advantages include safety (ALFA™ and ELITE™ are sphincter preserving procedures) reduced pain, quicker healing and better outcome, as well as shorter procedures enabling better throughput for the clinic.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Presets</h3><p class="text-justify">The neoV platform comes equipped with presets allowing ease of use and improved surgical control. These include hemorrhoid settings to ensure adequate dosage as well as audio feedback for synchronization of pullback speed leading to accurate and uniform dosage application inside fistula tracts.</p></div>
            <div class="col-xs-12 col-sm-4"><h3 class="text-center">Optimal Energy Delivery</h3><p class="text-justify">Special proprietary fiber technology including the CORONA Fistula Probe and the CORONA Hemorrhoid Probe for optimal treatment and outcomes.</p></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6"><h3 class="text-center">Office Procedures</h3><p class="text-justify">Given the small size, yet high power of the neoV platform, it is the perfect tool to allow shift of procedures from the OR to an office-based setting. With only 3.5Kg and a customized high quality carrying suitcase, it can be used in multiple clinics and support procedures in multiple locations.</p></div>
            <div class="col-xs-12 col-sm-6"><h3 class="text-center">Value</h3><p class="text-justify">The neoV platform provides the best value on the market for your Proctology practice through unique design, quality, portability and state-of-the-art performance. It enables you to enhance your clinic’s offering and increase revenue.</p></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-sm-offset-5">
            <img src="images/danger.png" class="img-responsive pull-right">
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="images/warning.png" class="img-responsive pull-right">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/procto.png" class="img-responsive pull-right mNone">
        <div class="row" id="brochures">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <a ui-sref="app.articles">
              <i class="fa fa-info-circle fa-2x"></i>
              <p>Learn More</p>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="files/PROCTOLOGY-BROCHURE.pdf" download="PROCTOLOGY-Brochure">
              <i class="fa fa-download fa-2x"></i>
              <p>Download Brochure</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
