<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
    <li class="breadcrumb-item active">Contact Us</li>
  </ol>
  <div class="row row-content" style="margin-top:64px;">
    <div class="col-xs-12 col-sm-7">
      <h2 class="text-center">Submission Successful</h2>
      <p class="text-center"><strong>Thank you for you submission!</strong></p>
      <p class="text-center">We'll be contacting you shortly.</p>
      <div class="text-center">
        <div class="btn-group">
          <a type="button" role="button" class="btn btn-default" ui-sref="app.contactus">New Message</a>
          <a type="button" role="button" class="btn btn-default" ui-sref="app">Back to Home</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <p>
        <i class="fa fa-phone"></i>
        <strong>Phone: </strong>
        +1 866-428-2030
      </p>
      <hr>
      <p>
        <i class="fa fa-envelope"></i>
        <strong>E-mail: </strong>
        medlaser@medlaser.srv.br
      </p>
      <hr>
      <div class="iframe-container">
        <iframe frameborder="0" style="border:0; height:200px; width:300px;"  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtB8mzO6kSx8fJtG6HzBOi3hpl6hhcwlU&q=8751+Commodity+Cir+%235,+Orlando,+FL+32819,+USA/@28.4445067,-81.4311637" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
