<div id="upper-wrapper" class="navbar-fixed-top">
  <header class="container">
    <div class="col-sm-2">
      <a ui-sref="app" style="border:0;padding:0;margin:0;">
        <img src="images/logo.png">
      </a>
    </div>
    <div class="pull-right">
      <i class="fa fa-phone-square"></i>
      +1 866-428-2030
      <a href="#">medlaser@medlaser.srv.br</a>
    </div>
  </header>
</div>

<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="first-slide">
      <img class="img-responsive" src="images/smallest-machine.png">
      <div class="container">
        <div class="carousel-caption">
          <h1>The neoV Laser</h1>
          <h2 class="" style=""><i class="fa fa-chevron-right" style="color:#5cb85c;"></i> The World's Smallest 25 Watt Laser</h2>
          <p>The neoV surgical laser platform with your choice of 1470nm or 980nm - the<br> smallest, lightest weight, and most portable laser system of its power class.
          </p>
          <p class="text-right"><a class="btn btn-success" ui-sref="app.ourproducts" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item" id="second-slide">
      <img src="images/orlando-cityscape.png" style="height:350px;" id="img-orlando">
      <div class="container">
        <div class="carousel-caption">
          <a type="button" role="button" class="btn btn-default btn-xs" ui-sref="app.institutional" id="btn-about">
            <h2 style="font-size:24px;">
              <img src="images/favicon.ico" style="width:30px;"/>
              About Us
            </h2>
          </a>
        </div>
      </div>
    </div>
    <div class="item" id="third-slide">
      <img class="img-responsive" src="images/back-whole.png">
      <div class="container">
        <div class="carousel-caption">
          <div class="row">
            <h1>Laser Spinal Surgery</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <p>
                PLDD is a minimally invasive procedure for treatment of herniated lumbar and cervical discs. It offers a minimally invasive alternative for relieving back pain
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
              <img src="images/fibers.png" class="img-responsive" style="height:70px; float:left;">
            </div>
            <div class="col-xs-12 col-sm-5">
              <h2 class="text-right"><i class="fa fa-chevron-right" style="color:#e74d3c;"></i> The neoLaser PLDD kit</h2>
              <div class="mNone">
                <p class="text-right">
                  includes everything you need for a safe, effective and minimally invasive PLDD procedure.
                <br><br>
              </div>
                <a type="button" role="button" ui-sref="app.PLDD" class="btn btn-danger">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div><!-- /.carousel -->

<!-- barra de navegação -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app">
          <p>
            <img src="images/favicon.ico" height=30 style="padding-bottom:4px;">
          </p>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="container container-fluid">
      <ul class="nav navbar-nav" id="navbarList" ng-init="selectTab='home'">
        <li ng-class="{'active':selectedTab==='home'}" ng-click="selectedTab='home'"><a href="#">Home</a></li>
        <li ng-class="{'active':selectedTab==='institutional'}" ng-click="selectedTab='institutional'"><a ui-sref="app.institutional">Institutional</a></li>
        <li class="dropdown" ng-class="{'active':selectedTab==='our-products'}" ng-click="selectedTab='our-products'">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.PLDD">PLDD &ndash; Laser Spine Surgery</a></li>
            <li><a ui-sref="app.EVLA">EVLA &ndash; Vascular</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="app.articles">Related Articles</a></li>
          </ul>
        </li>
        <li ng-class="{'active':selectedTab==='contact-us'}" ng-click="selectedTab='contact-us'"><a ui-sref="app.contactus">Contact Us</a></li>
      </ul>
    </div>
    </div>
</nav><!-- fim da barra de navegação -->
